.listItems {
    display: flex;
    list-style: none;
    background-color: black;
    color: white;
    justify-content: left;
}
.listItem {
    margin: 1.5rem;
    font-size: 20px;
    padding-left: 1rem;
}